@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  
    font-family: "Zen Kaku Gothic Antique", sans-serif;
   
}

.bg {
  background-image: url( "https://res.cloudinary.com/dytlpvw1o/image/upload/v1716454249/side-left_trz2xm.png");
  background-size: cover;
  height: 120vh;
  width: 30%;
  
}